@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --boxShadowColor: rgba(0, 0, 0, 0.1018296843);
    --boxShadowColorHower: rgba(0, 0, 0, 0.296925874);
}



body {
    font-family: "Poppins";
    overflow-x: hidden;
}



.newsMarquee {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 136, 8);
    font-style: italic;
    color: white;
    font-family: "poppins";
    border-radius: 7px;
    font-weight: bold;
}






.section {
    margin: 50px 110px;    
    padding: 30px;
}


.aboutNmrec {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.aboutNmrec h1 {
    color: rgb(95, 76, 236);
    font-size: 2.69em;
}

.aboutNmrec p {
    font-size: 1.126em;
    text-align: justify;
    text-justify: inter-word;
}




.chatbot-button {
  position: fixed;
  bottom: 23px;
  right: 20px;
  /* background-color: #007BFF; */
    background-color: var( --accent-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.chatbot-button:hover {
  background-color: #0056b3;
}

.chatbot-button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
}

.chatbot-container {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 85px;
  width: 490px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 9999;
}

.chatbot-container iframe {
  border-radius: 10px;
  border: 20px solid black;
}

#temp {
    height: 30px;
    width: 350px;
    /* background-color: red; */
    background: rgba(250, 250, 250);
    z-index: 9999999999;
    bottom: 90px;
    right: 85px;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}

#temp p {
    font-family: "inter";
    font-size: 12px;
    color: black;
}







footer {
    color: white;
    padding: 20px 0;
    height: 40vh;
    width: 100%;
    background-color: maroon;
    font-family: "Poppins";
}

h1{
    color: rgb(95, 76, 236);
    font-size: 2.69em;
}
